<div id="edit-profile" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>Settings</h1>
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" :class="[ tab == '' ? 'active' : '']" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" @click="changeTab('')">
          Personal Information
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" :class="[ tab == 'agents' ? 'active' : '']" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" @click="changeTab('agents')">
          Agents
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade mt-4" :class="[ tab == '' ? 'active show' : '']" id="home" role="tabpanel" aria-labelledby="home-tab">
        <ajax-form action="updateProfile" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="full-name">Full name</label>
                <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
                <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="email-address">Email address</label>
                <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
                <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <cloud-error v-if="cloudError === 'emailAlreadyInUse'">There is already an account using that email address.</cloud-error>
              <cloud-error v-if="cloudError"></cloud-error>
            </div>
            <div class="col-sm-6">
              <div class="form-group text-right">
                <!-- <a class="btn btn-outline-info" href="/account">Cancel</a> -->
                <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
              </div>
            </div>
          </div>
        </ajax-form>
      </div>

      <div class="tab-pane fade mt-4" :class="[ tab == 'agents' ? 'active show' : '']" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <ajax-form action="createAgent" :syncing.sync="userSyncing" :cloud-error.sync="userCloudError" :form-data="userFormData" :form-rules="userFormRules" :form-errors.sync="formErrors" @submitted="addAgent()">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="user-first-name">First name</label>
                <input class="form-control" id="user-first-name" name="user-first-name" type="text"  :class="[formErrors.userFirstName ? 'is-invalid' : '']" v-model.trim="userFormData.userFirstName" placeholder="john" autocomplete="name" focus-first>
                <div class="invalid-feedback" v-if="formErrors.userFirstName">Please enter your first name.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="user-last-name">Last name</label>
                <input class="form-control" id="user-last-name" name="user-last-name" type="text"  :class="[formErrors.userLastName ? 'is-invalid' : '']" v-model.trim="userFormData.userLastName" placeholder="doe" autocomplete="name">
                <div class="invalid-feedback" v-if="formErrors.userLastName">Please enter your last name.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="user-email-address">Email address</label>
                <input class="form-control" id="user-email-address" name="user-email-address" type="email"  :class="[formErrors.userEmailAddress ? 'is-invalid' : '']" v-model.trim="userFormData.userEmailAddress" placeholder="alryazan@amazon.com" autocomplete="email">
                <div class="invalid-feedback" v-if="formErrors.userEmailAddress">Please enter a valid email address.</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="user-password">Password</label>
                <input class="form-control" id="user-password" name="user-password" type="password"  :class="[formErrors.userPassword ? 'is-invalid' : '']" v-model.trim="userFormData.userPassword" placeholder="••••••••" autocomplete="new-password">
                <div class="invalid-feedback" v-if="formErrors.userPassword">Please enter a password or choose "Cancel".</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <cloud-error v-if="cloudError === 'emailAlreadyInUse'">There is already an account using that email address.</cloud-error>
              <cloud-error v-if="cloudError"></cloud-error>
            </div>
            <div class="col-sm-6">
              <div class="form-group text-right">
                <ajax-button type="submit" :syncing="userSyncing" class="btn btn-dark">Add user</ajax-button>
              </div>
            </div>
          </div>
        </ajax-form>
        TODO: need permission creation as well!
        <div v-for="(agent, index) in agents" class="agent-item" :key="index">
          <div class="row mb-3">
            <div class="col-sm-6">
              <span>{{agent.firstName}} {{agent.lastName}}</span>
            </div>
          <hr/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
