<div id="all" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>My Meetings</h1>
    <a style="width: 150px" class="btn btn-sm btn-outline-info" href="/meetings/create">Add Meeting</a>
    <hr/>
    <div v-for="(meeting, index) in meetings" class="meeting-item" :key="index">
      <div class="row mb-3">
        <div class="col-sm-12">
          <div class="card">
            <h5 class="card-header">Meeting {{index+1}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{meeting.title}}</h5>
              <p class="card-text">{{meeting.notes}}</p>
              <a class="btn btn-sm btn-outline-dark" :href="'/meetings/'+ meeting.slug">View Meeting</a>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
