<div id="498">
    <div style="max-width: 650px;" class="container text-center pt-5 pb-5">
        <h1>Sorry, you don't have permissions to view this page.</h1>
        <hr/>
        <div>
        <p>Need further help accessing this page?<br class="d-none d-sm-inline" /><span class="d-inline d-sm-none">&nbsp;</span>Please contact your manager.</p>
        <a class="btn btn-lg btn-outline-dark" href="/app">Go Home</a>
        </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  