/* <download-mobile-app>
   *
   * App-wide styles for our download mobile app popup.
   */
[parasails-component='download-mobile-app'] {
  .x-color {
    color: #abb6c2
  }
  .alert-light {
    background-color: white;
  }
  img {
    border-radius: 10px;
    display: inline;
  }
  .close {
    outline:none;
  }
  .open-app{
    position: absolute;
    right: 4em;
    top: 1.5em;
  }
}
